html, body {
	margin: 0;
	padding: 0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 200;
	background-color: white;
	min-width: 700px;
}

h1,h2,h3 {
	font-family: 'Lobster', cursive;
	font-weight: normal;
	margin: 0;
	color: rgb(50, 50, 50);
}

h1 {
	padding: 10px;
	background-color: rgb(250, 250, 250);
}

a {
	text-decoration: none;
	color: rgb(50, 50, 50);
}

svg {
	position: absolute;
}

article header h2 {
	display: inline-block;
}
article header time {
	margin-left: 5px;
}

.img-rounded {
	border-radius: 5px;
}

.wrapper {
	position: relative;
}

aside {
	position: absolute;
	left: 0px;
	height: 100%;
	width: 150px;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;

	/* Solve weird chrome bug making semi-transparent white background gray */
	transform: translateZ(0);
}

aside ul {
	font-size: 1.5em;
	padding: 0;
	margin: 10px;
}

aside li {
	list-style: none;
	margin-bottom: 5px;
}

footer {
	text-align: center;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	opacity: 0.7;
}

footer p {
	margin: 0;
}

article {
	width: 100%;
	position: relative;
	overflow: hidden;
}

article header a {
	color: black;
}

article.dark header, article.dark header a, article.dark header h2 {
	color: white;
}

article.unpublished {
	opacity: 0.5;
}

article.unpublished:hover {
	opacity: 1;
}

article header {
	text-align: center;
}

article .article-wrapper{
	position: relative;
	padding-left: 160px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	text-align: center;
}

article:before {
	content: "";
	position: absolute;
	background-size: 150%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	filter: blur(3px);
	-webkit-filter: blur(3px);
	top: -5%;
	left: -5%;
	width: 110%;
	height: 110%;
	overflow: hidden;
}

article .hero-image, article .content {
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.5);

	/* Solve weird chrome bug making semi-transparent white background gray */
	transform: translateZ(0);
}

article .hero-image {
	margin: 30px 50px;
	text-align: left;
	display: inline-block;
	max-width: 800px;
	overflow: hidden;
}

article .hero-image.portrait {
	max-width: 400px;
}

article .hero-image img {
	width: 100%;
	display: block;
}

article .hero-image p {
	margin: 0;
	padding: 3px;
}

article p {
	margin: 10px 0;
}

article a {
	color: rgb(50, 70, 150);
}

article a:hover {
	text-decoration: underline;
}

article .content {
	vertical-align: top;
	margin: 29px auto;
	text-align: left;
	display: inline-block;
	padding: 0px 50px;
	box-sizing: border-box;
	font-weight: 300;
	font-size: 1.1em;
	letter-spacing: 0.014em;
	max-width: 800px;
}

article .content ul {
	margin: 10px 0;
}
