{% load static %}
<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>kirberich.uk</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
	<link href='//fonts.googleapis.com/css?family=Lobster|Yanone+Kaffeesatz:700,300,200' rel='stylesheet' type='text/css'>
	<style>
		article:before {
			filter: url(#blur);
		}
		{% block extra_css %}{% endblock %}
	</style>
</head>

<body {% if site == "main" %}class="article-list"{% else %}class="has-expanded"{% endif %}>
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="0" width="0"><defs><filter id="blur" x="0" y="0"><feGaussianBlur stdDeviation="3" /></filter></defs></svg>
	<header>
		<h1><a href="/">Robert Kirberich</a></h1>
	</header>

	<div class="wrapper">
		<aside>
			<nav>
				<ul>
					{% for nav_article in articles %}
					{% if nav_article.is_published or request.user.is_superuser %}
					<li>
						<a
							href="{% if site == "main" %}#article-{{nav_article.slug}}{% else %}/{{nav_article.slug}}{% endif %}"
							{% if article and nav_article == article %}class="active"{% endif %}
						>
							{{nav_article.name}}
						</a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</nav>
		</aside>

		<main>
		{% block main_content %}{% endblock %}
		</main>
	</div>

	<footer>
		<p>(c) 2015 Robert Kirberich - <a href="mailto:rob@kirberich.uk">rob@kirberich.uk</a></p>
	</footer>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-59055576-1', 'auto');
		ga('send', 'pageview');
	</script>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script>

	function checkHasExpanded() {
		if($("article.expanded").length) {
			$("body").addClass("has-expanded");
		} else {
			$("body").removeClass("has-expanded");
		}
	}
	$(function() {
		var $nav = $("nav");
		var navOffset = {'top':70, 'left':0};
		$(document).scroll(function() {
			var scrollTop = $(document).scrollTop();
			var diff = navOffset.top - scrollTop;
			if(diff < 5) {
				$nav.offset({'left':0, 'top':scrollTop+5});
			} else {
				$nav.offset({'left':navOffset.left, 'top':navOffset.top});
			}
		});

		{% if site == "main" %}
		$('article').click(function(e) {
			if($(this).hasClass("expanded")) {
				return;
			}
			e.preventDefault();
			$(this).addClass("expanded");
			checkHasExpanded();
		});

		$("nav a").click(function(e){
			e.preventDefault();
			var $article = $($(this).attr("href"));
			$("article").removeClass("expanded");
			$article.addClass("expanded");
			setTimeout(function(){
				$("html, body").animate({"scrollTop": $article.offset().top});
				checkHasExpanded();
			}, 500);
		});
		{% endif %}
	});
	</script>
</body>

</html>
