{% load static %}
<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>kirberich.uk</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
	<link href='//fonts.googleapis.com/css?family=Lobster|Yanone+Kaffeesatz:700,300,200' rel='stylesheet' type='text/css'>
	<style>
		article:before {
			filter: url(#blur);
		}
		{% block extra_css %}{% endblock %}
	</style>
</head>

<body>
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="0" width="0"><defs><filter id="blur" x="0" y="0"><feGaussianBlur stdDeviation="3" /></filter></defs></svg>
	<header>
		<h1><a href="/">Robert Kirberich</a></h1>
	</header>

	<div class="wrapper">
		<aside>
			<nav>
				<ul>
					{% for article in articles %}
					{% if article.is_published or request.user.is_superuser %}
					<li><a href="{% if site == "main" %}#article-{{article.slug}}{% else %}/{{article.slug}}{% endif %}">{{article.name}}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</nav>
		</aside>

		<main>
		{% block main_content %}{% endblock %}
		</main>
	</div>

	<footer>
		<p>(c) 2015 Robert Kirberich - <a href="mailto:rob@kirberich.uk">rob@kirberich.uk</a></p>
	</footer>
</body>

</html>
